<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <!--    <input-->
    <!--      type="email"-->
    <!--      formControlName="email"-->
    <!--      required-->
    <!--      [ngClass]="{-->
    <!--        inputError: email!.invalid && (email!.dirty || email!.touched),-->
    <!--        inputSuccess: email!.valid-->
    <!--      }"-->
    <!--    />    -->
    <input type="email" formControlName="email" required />
    <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="error">
      <div *ngIf="email!.errors?.['required']">Email is required.</div>
      <div *ngIf="email!.errors?.['pattern']">Email is not correct</div>
    </div>
  </div>
  <div>
    <input type="password" formControlName="password" required />
    <div *ngIf="password!.invalid && (password!.dirty || password!.touched)" class="error">
      <div *ngIf="password!.errors?.['minlength']">
        Password must be at least 4 characters long.
      </div>
    </div>
  </div>
  <button [disabled]="loginForm.invalid" type="submit">send</button>
</form>

<!--<div *ngIf="name.invalid && (name.dirty || name.touched)"-->
<!--     class="alert">-->

<!--  <div *ngIf="name.errors?.['required']">-->
<!--    Name is required.-->
<!--  </div>-->
<!--  <div *ngIf="name.errors?.['minlength']">-->
<!--    Name must be at least 4 characters long.-->
<!--  </div>-->
<!--  <div *ngIf="name.errors?.['forbiddenName']">-->
<!--    Name cannot be Bob.-->
<!--  </div>-->
